{% extends "layout.html" %}

{% block title %}
    Transactions
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Coins</th>
                    <th>Value</th>
                    <th>Date</th>
                </tr>
            </thead>
            {% for stock in stocks %}
                <tr>
                    <td>{{ stock["name"] }}</td>
                    <td>{{ stock["shares"] }}</td>
                    <td>{{ stock["value"] }}</td>
                    <td>{{ stock["date"] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}